body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
}
input:focus,
select:focus,
textarea:focus {
    outline: 0px;
}
.row,
.col-6,
.col-4 {
    margin: 0;
    padding: 0;
}
.Announcement {
    background-color: var(--main-color);
    padding: 15px 0;
}
.Announcement .container {
    padding-left: 0;
    padding-right: 0;
}
.Announcement .col-md-6 p {
    color: white;
    margin-right: 6rem;
    font-size: 15px;
}
.Announcement .col-12 a {
    color: white;
    /* margin-right: 2rem; */
    padding: 0 15px;
    font-size: 15px;
}
.Announcement .col-12 a:first-child {
    padding-left: 0;
}
.Announcement .col-12 a:last-child {
    padding-right: 0;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}
