.wrap_footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
    color: white;
    padding: 15px 10%;
}
.footer_info {
    flex: 1;
    text-align: left;
}
.tittle_content {
    font-weight: 600px;
    font-size: 18px;
    padding-bottom: 5px;
}
.wrapContent {
    display: flex;
}
.content {
    font-size: 14px;
    padding-left: 5px;
}
