.navbar_menu {
    margin: auto;
}
.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.navbar_list_li {
    list-style: none;

    a {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 700;
        margin: 0 10px;
        padding: 0 15px;
        position: relative;
        transition: color 0.5s;
        z-index: 2;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -40px;
            right: 0;
            margin: 0 auto;
            height: 100%;
            width: 80%;
            background: #121b60;
            transform-origin: 0 0;
            transform: scaleY(0);
            transition: transform 0.5s cubic-bezier(0, 0.02, 0.05, 0.3);
            z-index: -1;
            border-radius: 0 0 20% 20%;
        }

        &:hover {
            color: #ffffff;

            &:before {
                transform: scaleY(4);
            }
        }
    }
}
