.payment-container {
    margin-top: 20px;
}
.radio-container {
    padding: 10px 0;
    text-align: start;
}
.radio-container input {
    font-size: 17px;
}
.radio-container label {
    padding: 0 20px;
    font-size: 17px;
}
