.ant-pagination-item {
    border: none !important;
}
.ant-pagination-item a:hover {
    border-radius: 50%;
    /* color: #ffff !important;
    background-color: var(--main-color) !important; */
}
.ant-pagination-item:hover {
    /* background-color: #fff !important; */
    border-radius: 50%;
}
.ant-pagination-item-active {
    color: #ffff;
}
.ant-pagination-item-active a {
    background-color: var(--main-color);
    border-radius: 50%;
}
.anticon svg {
    margin-bottom: 8px;
}
.ant-pagination-item-link:hover {
    border-radius: 50% !important;
}

/* .anticon-double-right {
}
.anticon {
    width: 100%;
}
 */
