/* CART */
.cart-scroll {
    max-height: 74vh;
    overflow-y: scroll;
}
.cart-scroll::-webkit-scrollbar {
    width: 2px;
}
.cart-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--main-color2);
}
