.rating-review {
    max-height: 50vh;
    overflow-y: scroll;
}
.rating-review::-webkit-scrollbar {
    width: 3px;
}
.rating-review::-webkit-scrollbar-thumb {
    background: #ff5722;
    border-radius: 8px;
}
td {
    padding-bottom: 10px;
}
