.wrapper {
    height: 460px;
    background-color: #e9ebee;
    display: flex;
    align-items: center;
}
.wrap_global {
    width: 60%;
    display: flex;
    margin: auto;
}
.wrap_child {
    border-radius: 10px;
    background-color: #ffffff;
}
.insert_space {
    margin: 16px 16px;
}
.wrap_instruct {
}
.logo_image {
    width: 10%;
}
.title {
    margin-top: 16px;
}
.wrap_content {
    list-style: none;
    text-align: left;
}
.content {
}
.input_email {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 20px 0;
    padding: 10px;
    line-height: 100%;
    text-align: center;
}
.wrap_button {
}
.buton {
    margin-right: 16px;
}
