.wrap_info_item {
    display: flex;
    /* margin: 0px 20px 0px 0px; */
    margin-bottom: 4px;
}
.info_item_label {
    width: 20%;
}
.info_item {
    width: 80%;
    background-color: var(--white-color);
}
.wrap_info_item_warning {
    min-height: 28px;
}

.info_item_warning {
    color: red;
    margin-bottom: 8px;
}
