.wrapper {
    height: 300px;
    background-color: #e9ebee;
    display: flex;
    align-items: center;
}
.wrap_main {
    width: 40%;
    display: flex;
    margin: auto;
}
.wrap_content {
    border-radius: 10px;
    background-color: #ffffff;
}
.content {
    margin: 16px 16px;
}
.button_verify {
    margin: 20px 0;
    padding: 0px 18px;
    height: 40px;
}
.icon_smile {
    margin-bottom: 4px;
}
