:root {
    --white-color: #fff;
    --main-color: #e85d97;
    --main-color-hover: #e83781;

    --main-color2: #007fff;

    --color-button1: #ffff;
    --color-button2: #007fff;

    --color-layout: #333f48;
    --content-color: #f4f4f4;

    --tw-ring-color: transparent;
    --color-infor-store: #252a2b;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    @apply border-none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
}
input:focus,
select:focus,
textarea:focus {
    outline: 0px;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

/* ========================================= css thư viện Corousel===============================*/
.slick-next::before {
    font-size: 30px !important;
}
.slick-prev::before {
    font-size: 30px !important;
}
.slick-prev {
    left: 4% !important;
    z-index: 2;
}
.slick-next {
    right: 4% !important;
    z-index: 2;
}
/* 
.slick-next:hover {
    font-size: 30px !important;
} */
