:root {
    --white-color: #fff;
    --main-color: #00483d;
    --main-color2: #007fff;
    --content-color: #f4f4f4;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
}
input:focus,
select:focus,
textarea:focus {
    outline: 0px;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

/* START CSS CHUNG*/
.Announcement .container {
    padding-left: 0;
    padding-right: 0;
}
/* END CSS CHUNG*/

/* ========================================= start thư viện corousel===============================*/
.corousel-div:hover {
    transform: translateY(-4px);
    transition: linear 0.2s;
}
.corousel-img {
    height: 200px;
    margin: auto;
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.slick-next::before {
    color: var(--main-color2) !important;
    font-size: 40px !important;
}
.slick-prev::before {
    color: var(--main-color2) !important;
    font-size: 40px !important;
}
.slick-prev {
    left: 3% !important;
    z-index: 2;
}
.slick-next {
    right: 3% !important;
    z-index: 2;
}

.slick-next:hover {
    font-size: 30px !important;
}

.corousel-link:active {
    border: none;
}

/*========================================== end thư viện corousel ==========================*/

/*========================================= start phân trang================================*/

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    border-radius: 50%;
}
.p-rating-icon {
    color: yellow !important;
}
