.wrapper {
    background-color: #e9ebee;
}
.wrap_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_content_child {
    margin: 20px 20px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
}
.content_child {
    margin: 16px 16px;
}
.form {
    text-align: center;
}
.form_input {
    margin-bottom: 16px;
}
.input_password {
    border: 1.6px solid #e9ebee;
    border-radius: 5px;
    padding: 4px 12px;
}
.button_submit {
    color: #fff;
    border-radius: 5px;
    background-color: #1677ff;
    padding: 4px 16px;
    margin-bottom: 20px;
}
